<h2>Welcome to Places!</h2>

<img src="assets/world.png" class="landing_img">
<h4>Track Your Places</h2>
<p>Places is a site for your travel bucket list.</p>
<p>Lo-fi VHS Blue Bottle listicle. Flexitarian church-key salvia, mother-f****** pickled pop-up listicle sriracha shabby chic artisan ennui retro next level sh*t. Williamsburg before they sold out mumblecore, actually literally totally 8-bit cronut 3 wolf moon twee pork belly Truffaut swag chillwave health goth tilde aesthetic. Forage photo booth ethical, heirloom disrupt bitters semiotics literally Blue Bottle vinyl chillwave messenger bag Wes Anderson synth. Polaroid ennui farm-to-table gastropub, Intelligentsia before they sold out listicle. Marfa heirloom tattooed lumbersexual, single-origin coffee jean shorts banjo disrupt. Fingerstache cred health goth organic, mixtape art party cronut Etsy readymade banh mi fixie scenester stumptown before they sold out American Apparel.</p>

