<h2>Welcome to Places!</h2>

<img src="assets/world.png" class="landing_img">
<h4>Track Your Places</h2>
<p>Places is a site for your travel bucket list.</p>
<p>Try logging in with username "robert" and password "hello".</p>

