<h2>Welcome to Places!</h2>

<%= image_tag("world.png", class: "landing_img") %>
<h4>Track Your Places</h2>
<p>Places is a site for your travel bucket list.</p>
<p class="important">Try logging in with username "robert" and password "hello".</p>
<p><a href="https://github.com/robertbenjamin/places">Like this site? Fork it on Github!</a></p>