/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ###### */

body {
	box-sizing: border-box;
	font-family: "Work Sans";
	font-size: 20px;
	line-height: 1.4em;
}

body > * {
	padding: 10px;
}

.container {
	padding: 20px;
}

h2 {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 20px;
}

nav {
	margin: 0;
	font-size: 1.5em;
	font-weight: 600;
	background: url("https://unsplash.it/1600/300?image=682") no-repeat bottom center;
}

nav * {
	color: white;
}

ul {
	display: inline;
	margin-left: 15px;
}

li {
	display: inline-block;
	padding: 15px 15px 15px 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.login-info {
	float: right;
	padding: 15px;
}

.landing_img {
	display: block;
	max-width: 55%;
	margin: 25px auto;
}

main {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.child {
	width: 350px;
	margin: 20px;
	max-height: 100%;
	background-color: white;
	position: relative;
}

.child > h3 {
	/*padding: 5px 0;*/
	position: absolute;
	top: 0;
	text-align: center;
}

.child > p {
	margin: 5px 20px 10px 20px;
}

h3 {
	margin: auto;
	text-align: center;
	width: 350px;
	background-color: black;
	opacity: 0.5;
	padding: 10px 0;
}

h3 a {
	color: white;
}

h4 {
	max-width: 650px;
	margin: auto;
	font-weight: 600;
	font-size: 1.3em;
}

.preview_img {
	max-width: 100%;
}

.show_img {
	display: block;
	max-width: 800px;
	margin: auto;
}

.image_picker_selector {
	max-width: 1100px;
	margin: 30px auto;
	display: inline-table;
	text-align: center;
}

.image_picker_selector > li {
	/*margin: auto;*/
	/*text-align: center;*/
	/*display: inline;*/
}

.image_picker_image {
	max-width: 250px;
	margin: auto;
	text-align: center;
}

p {
	max-width: 650px;
	margin: 15px auto;
}

/* Forms */

input, label {
	font-size: 1.2em;
	margin: auto;
	display: block;
	height: 25px;
	width: 550px;
	padding: 10px;
}

input[type="submit"] {
	margin: 20px auto;
	width: 200px;
	height: 30px;
	text-decoration: none;
}