<h2>Places</h2>
<main>
  <% @places.each do |place| %>
    <!-- build the list element for each place -->

    <div class="child">
    <h3><%= link_to "#{place.location}", user_place_path(place.user.id, place.id) %></h3>
        <%= image_tag(place.photo_url, class: "preview_img") %>
        <p><%= place.note %></p>
    </div>

  <% end %>
</main>